.cache{
    height: 100vh;
}

:root{
    --special: #b1b493;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
    position: relative;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

                            /* HEADER */

/* Navigation */
.header{
    background-color: transparent;
    z-index: 100;
    height: 69px;
    position: absolute;
}

.header_navbar{
    width: 100%;
    padding-right: 110px;
    padding-left: 110px;
    background-color: inherit !important;
}

.header_scroll{
    margin-top: -130px;
    position: fixed !important;
    top: 0;
    left: 0;
}

.header_NotOnTop{
    background-color: #fff !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 0px;
}

.navbar-brand-logo{
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

#navbarNav{
    justify-content: flex-end;
}

.navbar-nav > .nav-item > .nav-link{
    font-size: 14px;
    padding: 0 20px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 1 !important;
    position: relative;
    color: #000;
}

.navbar-nav > .nav-item > .nav-link.active{
    color: var(--special);
}

.navbar-nav > .nav-item > .nav-link span{
    border-bottom: 2px solid transparent;
}

.navbar-nav > .nav-item > .nav-link:hover span{
    border-bottom: 2px solid var(--special);
}

.navbar-nav > .nav-item > .nav-link.active span{
    color: var(--special);
    border-bottom: 2px solid var(--special);
}

@media only screen and (max-width: 576px) {
    .header{
        padding-left: 0;
        padding-right: 0;
        background-color: #000;
        color: white;
        position: relative;
    }
    
    .header_NotOnTop{
        background-color: #fff;
        color: #000;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        transition: 0.5s all ease-out;
    }

    .header_navbar{
        padding-left: 20px;
        padding-right: 20px;
    }

    .header .header_navbar .navbar-brand-logo{
        color: inherit;
        font-weight: 700;
    }

    .navbar-nav > .nav-item > .nav-link{
        padding: 12px 0;
        color: inherit;
    }

    .navbar-nav > .nav-item > .nav-link:hover{
        color: inherit;
    }

    .navbar-nav > .nav-item > .nav-link:hover span{
        border-bottom: none;
    }

    .navbar-nav > .nav-item > .nav-link.active span{
        color: var(--special);
        border-bottom: 2px solid var(--special);
    }

    .navbar-toggler{
        background-color: white;
        border: 1px solid white;
        font-size: 1rem;
    }
}

/* Banner */
#home-section{
    width: 100%;
    height: 400px;
    padding: 0;
    background-image: url(./image/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: scroll;
    display: flex;
    align-items: center;
}

#home-section .banner-text{
    padding-left: 125px;
    max-width: 60%;
}

#home-section .banner-text .banner-text_subheading{
    font-size: 14px;
    font-weight: 600;
    letter-spacing:3px;
    text-transform: uppercase;
    color: var(--special);
}

#home-section .banner-text h1{
    font-size:55px;
    color: #000;
    line-height: 1.2;
    font-weight: 800;
}

#home-section .banner-text h1 > span{
    font-weight: 800;
    color: var(--special);
}

#home-section .banner-text .btn:first-of-type{
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.9);
    background-color: var(--special);
    border: 1px solid var(--special);
}

#home-section .banner-text .btn-outline-primary{
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.9);
    background-color: #fff;
    color: var(--special);
    border: 2px solid var(--special);
}

#home-section .banner-text .btn-outline-primary:hover, #home-section .banner-text .btn-outline-primary.hover{
    color: #fff;
    background-color:var(--special);
}

@media only screen and (max-width: 768px) {
    #home-section{
        background-image: url(./image/ava_formal.jpg);
    }

    #home-section .banner-text{
        text-align: center;
        width: 100%;
        max-width: 100%;
        padding-left: 0;
    }

    #home-section .banner-text .banner-text_subheading{
        font-size: 12px;
        font-weight: 500;
        color: #fff;
    }

    #home-section .banner-text h1{
        font-size: 30px;
    }
    
    #home-section .banner-text .btn:first-of-type{
        font-size: 14px;
        font-weight: 500;
        border-radius: 5px;
        box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.9);
        background-color: var(--special);
        border: 1px solid var(--special);
    }
    
    #home-section .banner-text .btn-outline-primary{
        font-size: 14px;
        font-weight: 500;
        border-radius: 5px;
        box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.9);
        background-color: #fff;
        color: var(--special);
        border: 2px solid var(--special);
    }
}

                            /* BODY */

/* About section */
#about-section{
    padding-top: 3rem;
}

#about-section .about-section_avatar{
    background-image: url(./image/ava_formal.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 520px;
    padding-bottom: 0;
}

#about-section .about-section_description{
    padding-left: 3rem;
}

#about-section .about-section_description .subheading{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--special);
    margin-bottom: 5px;
    letter-spacing: 3px;
}

#about-section .about-section_description h2{
    font-size: 34px;
    text-transform: capitalize;
    color: #000;
    font-weight: 600;
}

#about-section .about-section_description ul li{
    padding-top: 5px;
}

#about-section .about-section_description ul li span:first-of-type{
    color: #000;
    font-weight: 600;
    width: 130px;
}

#about-section .about-section_description ul li span:last-of-type{
    color: var(--special);
    font-weight: 600;
    padding-left: 0;
    width: calc(100% - 130px);
}

#about-section .about-section_description .container-hobby{
    padding-top: 30px;
    margin-left: 0;
    margin-right: 0;
}

#about-section .about-section_description .container-hobby .icon-container{
    background-color: var(--special);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#about-section .about-section_description .container-hobby .hobby{
    border-left: 2px solid var(--special);
}

#about-section .about-section_description .container-hobby .icon-container > span{
    font-size: 18px;
    color: #000;
    height: 100%;
}

#about-section .about-section_description .container-hobby .text{
    color: #000;
    padding-left: 5px;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    #about-section{
        margin-bottom: 54px;
    }

    #about-section .about-section_avatar{
        display: none;
    }

    #about-section .about-section_description{
        text-align: left;
        padding-left: 0;
    }

    #about-section .about-section_description ul{
        margin-bottom: 0;
    }

    #about-section .about-section_description ul li{
        padding-top: 12px;
    }

    #about-section .about-section_description ul li span:last-of-type{
        font-weight: 500;
    }

    #about-section .about-section_description .container-hobby{
        padding-top: 48px;
    }

    #about-section .about-section_description .container-hobby .hobby:nth-child(3), #about-section .about-section_description .container-hobby .hobby:nth-child(4){
        margin-top: 20px;
    }
}

/* Skills section */
#skills-section{
    padding: 7em 0;
    text-align: center;
}

#skills-section .container .subheading{
    color: var(--special);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 3px;
}

#skills-section .container h2{
    color: #000;
    font-size: 40px;
    font-weight: 600;
}

#skills-section .container .card{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.3rem;
    border: 0;
}

#skills-section .container .card:hover, #skills-section .container .card.hover{
    background-color: var(--special) !important;
}

#skills-section .container .card:hover h5, #skills-section .container .card h5.hover{
    color: #fff;
}

#skills-section .container .card:hover span, #skills-section .container .card span.hover{
    color: rgba(255, 255, 255, 0.8);
}

#skills-section .container .card h5{
    color: rgba(0, 0, 0, 0.9);
    font-weight: 900 !important;
    line-height: 1.5;
}

#skills-section .container .card span{
    color: var(--special);
}

#skills-section .container .logo{
    width: 100%;
    height: 300px;
}

#skills-section .container .logo > img{
    width: 100%;
    height: 300px;
}

@media only screen and (max-width: 768px) {
    #skills-section{
        padding-bottom: 4em;
    }
    #skills-section > .container > .row > .col-lg-4:not(:first-child){
        margin-top: 10px;
    }
}

/* Projects section */
#projects-section{
    padding: 7em 0;
    text-align: center;
}

#projects-section > .container-fluid span.subheading{
    color: var(--special);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 3px;
}

#projects-section .container-fluid h2{
    color: #000;
    font-size: 40px;
    font-weight: 600;
}

#projects-section .container-fluid .row{
    margin-left: 5px;
    margin-right: 5px;
}

#projects-section .container-fluid .row .col-lg-3{
    padding: 0.75rem;
}

#projects-section .container-fluid .row .card{
    height: 300px;
    position: relative;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
} 

#projects-section .container-fluid .row .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.6 ease;
    background-color: #000;
}

#projects-section .container-fluid .row .card .inner-text{
    max-width: 80%;
}

#projects-section .container-fluid .row .card:hover .overlay{
    opacity: 0.4;
    z-index: inherit;
}

#projects-section .container-fluid .row .card:hover .inner-text{
    z-index: 10;
}

#projects-section .container-fluid .row .inner-text{
    z-index: -1;
}

#projects-section .container-fluid .row .inner-text > h3{
    font-size: 20px;
    font-weight: 600;
}

#projects-section .container-fluid .row .inner-text > h3 > a{
    color: #fff;
    text-decoration: none;
}

#projects-section .container-fluid .row .inner-text > span{
    color: var(--special);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    #projects-section{
        padding-bottom: 4em;
    }
    
    #projects-section .container-fluid .row .col-lg-3{
        margin-bottom: 10px;
    }

    #projects-section .container-fluid .row .card .overlay{
        opacity: 0.2;
        z-index: inherit;
    }

    #projects-section .container-fluid .row .card .inner-text{
        z-index: 10;
    }

    #projects-section .container-fluid .row .inner-text > span{
        color: rgba(255,255,255, 0.8);
    }
}

/* Study section */
#study-section{
    background-color: var(--special);
    padding: 7em 0;
    position: relative;
    text-align: center;
}

#study-section .container{
    width: 100%;
}

#study-section .container .subheading{
    color: rgba(255,255,255, 0.9);
    text-transform: uppercase;
    font-size: 13;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 3px;
}

#study-section .container h2{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

#study-section .container p{
    color: rgba(255,255,255, 0.9);
}

#study-section .container .btn{
    color: var(--special);
    box-shadow: 0px 24px 36px -18px rgba(0, 0, 0, 0.9);
    font-size: 14px;
    font-weight: 500;
    padding: 1rem 1.5rem;
}

#study-section .container .row #carouselSchool{
    width: 100%;
}

#study-section .container .row #carouselSchool .carousel-item > .col-xl-4{
    display: inline-flex;
    width: calc(33.33% - 5px);
}

#study-section .container .row #carouselSchool .carousel-item .card{
    border-radius: 7px;
    height: 480px;
}

#study-section .container .row #carouselSchool .carousel-item .card-img-top{
    height: 300px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#study-section .container .row #carouselSchool .carousel-item .card-title{
    font-weight: 600;
    font-size: 18px;
    color: #000;
}

#study-section .container .row #carouselSchool .carousel-item .card-text{
    font-size: 16px;
    color: #b3b3b3;
}

#study-section .container .row .carousel-indicators{
    position: static;
}

#study-section .container .row .carousel-indicators > li{
    border-radius: 50%;
    border: 1px solid rgba(255,255,255, 0.7);
    width: 12px;
    height: 12px;
    margin: 5px;
    background-color: rgba(255,255,255, 0.1);

}

#study-section .container .row .carousel-indicators > li.active{
    background-color: #fff;
    border: none;
}

/* #carouselSchool .carousel-inner > .carousel-item {
    transition: 500ms ease-in-out left;
} */

#carouselSchool .carousel-inner .active .left{
    left: -33%;
}

#carouselSchool .carousel-inner .active .right{
    left: 33%;
}

/* @media all and (transform-3d), (-webkit-transform-3d) {
    #carouselSchool .carousel-inner > .carousel-item{
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none !important;
    }
} */

@media only screen and (max-width: 768px) {
    #study-section .container .row #carouselSchool > .carousel-inner{
        text-align: center;
        display: block;
    }

    #study-section .container .row #carouselSchool .carousel-item.active{
        margin-left: auto;
        display: inline-block;
    }

    #study-section .container .row #carouselSchool .carousel-item > .col-xl-4{
        width: 100%;
    }

    #study-section .container .row #carouselSchool .carousel-item .card{
        height: 400px;
        width: 100%;
    }

    #study-section .container .row #carouselSchool .carousel-item .card-img-top{
        height: 270px;
    }
}

                            /* FOOTER */
footer{
    padding: 5rem 1rem; 
}

footer .row .col-lg-6{
    padding-left: 70px;
}

footer .row .col-lg-6:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .row .col-lg-6 > h2{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}

footer .row .col-lg-6 > p{
    color: rgba(255, 255, 255, 0.7);
}

footer .row .col-lg-6 .social-icon-container > a{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

footer .row .col-lg-6 .social-icon-container > a > img{
    width: 100%;
    height: 100%;
}

footer .row .col-lg-6 > a{
    padding: 12px 36px;
    border-radius: 30px;
    background-color: var(--special);
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    footer .row .col-lg-6{
        padding-left: 15px;
    }

    footer .row .col-lg-6:nth-child(2){
        padding-top: 30px;
        justify-content: space-between;
    }

    footer .row .col-lg-6 > a{
        display: inline-flex;
        justify-content: center;
        width: 48%;
        margin-top: 10px;
        margin-right: 0;
        padding: 10px 30px;
    }
}